@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.btn-brown {
  background-color: #A08574 !important;
  border-color: #A08574 !important;
  color: white !important;
}

.btn-brown:hover {
  /* 마우스 올렸을 때 조금 더 진한 갈색 */
  background-color: #8a6f5e !important;
  border-color: #8a6f5e !important;
}

.btn-animate {
  transition: all 0.25s ease;
}

.btn-animate:hover {
  transform: translateY(-3px); /* 3픽셀 위로 뜸 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
  text-decoration: none;
}

.base-text {
  font-size: 18px;
}

.tech-stack-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.full-width-table table {
  width: 100% !important;
  display: table; /* 반응형 스크롤 문제 방지 */
}

:root {

  --ifm-color-primary: #A08574;
  --ifm-color-primary-dark: #907868;
  --ifm-color-primary-darker: #887162;
  --ifm-color-primary-darkest: #705d51;
  --ifm-color-primary-light: #b09280;
  --ifm-color-primary-lighter: #b89986;
  --ifm-color-primary-lightest: #cfb09c;

  /* 3. 폰트 적용 (깔끔한 고딕) */
  --ifm-font-family-base: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;

  /* 4. 코드 블록 스타일 (선택사항) */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
