services:
  user-db:
    image: mysql:8.4
    container_name: buynest-user-db
    networks:
      - buynest-network
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${USER_DB_PASSWORD}
      MYSQL_DATABASE: buynest_user
    volumes:
      - buynest-user-db-data:/var/lib/mysql

  order-db:
    image: mysql:8.4
    container_name: buynest-order-db
    networks:
      - buynest-network
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${ORDER_DB_PASSWORD}
      MYSQL_DATABASE: buynest_order
    volumes:
      - buynest-order-db-data:/var/lib/mysql

  product-db:
    image: mysql:8.4
    container_name: buynest-product-db
    networks:
      - buynest-network
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${PRODUCT_DB_PASSWORD}
      MYSQL_DATABASE: buynest_product
    volumes:
      - buynest-product-db-data:/var/lib/mysql

  zipkin-db:
    image: mysql:8.4
    container_name: buynest-zipkin-db
    command: --event-scheduler=ON
    networks:
      - buynest-network
    ports:
      - "3309:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${ZIPKIN_DB_PASSWORD}
      MYSQL_DATABASE: buynest_zipkin
    volumes:
      - buynest-zipkin-db-data:/var/lib/mysql
      - ./init-scripts/zipkin-script:/docker-entrypoint-initdb.d

volumes:
  buynest-user-db-data:
  buynest-order-db-data:
  buynest-product-db-data:
  buynest-zipkin-db-data:

networks:
  buynest-network:
    external: true
