version: "3.8"

services:
  order-service:
    image: minsik2434/order-service:latest
    container_name: order-service
    restart: always
    networks:
      - buynest-network
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-service:8888
    env_file:
      - .env

networks:
  buynest-network:
    external: true
